.container{
    display: grid;
}
.new_photo{
    margin-right: 40em;
    border: 0.2em solid #FFC700;
    max-width: 800px;
    max-height: 500px;
    grid-template-columns: repeat(2 1fr);
}
header{
    display: grid;
    width: 100%;
    grid-template-columns: 268px 661px 1fr;
    grid-template-rows: 100px 1fr;
    background-color: #FFC700;
}
.logo{
    grid-column: 1/2;
}
.navigation{
    grid-column: 3/4;
    grid-row: 1 / 2;
    padding-right: 80px;
}
.menu{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding-right: 2em;
    font-size: 1.2em;
    font-family: 'El Messiri', sans-serif;
}
.logoLink {
    position: relative;
    top: 1em;
    left: 1em;
    position: relative;
    width: 11em;
    height: 4em;
}
main {
    width: 100%;
    min-height: 1080px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.photos_container{
}
footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(64, 64, 64);
    font-family: 'Raleway', sans-serif;
    height: 9em;
    color: aliceblue;
}
footer ul{
    text-align: center;
}
.sibir{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sponsor_img {
    width: 6.5em;
    height: 6.5em;
}
.logo_white {
    width: 12em;
    height: 4.5em;
}
.logo_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_us{
    display: flex;
    align-items: center;
    justify-content: center;
}
.adv{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}
.sibir_menu, .sponsor, .developers {
    top: -2.5em;
    font-size: 0.9em;
    color: rgb(255, 255, 255);
}
