@media screen and (min-width:  1366px) and (max-width:  1919px){
		.logoLink{
    	position:relative;
    	top: 0.65em;
    	left: 0.65em;
    	width: 8em;
    	height: 3em;
	}
	nav{
		top: 12%;
	}

	.topik_menu, .active-page{
    	font-size: 0.9em;
	}
	header {
    	height: 4.7em;
	}
	.searchBox{
    	width: 42.5px;
    	height: 30px;
    	right: 9%;
	}
	ion-icon{
		right: 20%;
	}
	.searchBox input{
		padding: 5px 20px;
	}
	.searchBox:hover{
    	width: 300px;
	}
	footer {
    	height: 6em;
	}
	.logo_white {
    	width: 8em;
    	height: 3em;
    	margin-top: -0.65em;
    	margin-left: -2em;
    }

	.sponsor_img {
		margin-top: -1.3em;
    	width: 3.7em;
    	height: 3.7em;
    }

    .sibir_menu,
	.sponsor,
	.developers {
    	font-size: 0.7em;
    	color: rgb(255, 255, 255);
    }
    .adv{
    	margin-right: 5em;
    }
    .sponsor{
        margin-bottom: 2em;
    }
    
    .sibir {
    	margin-left: -5em;
    	margin-top: -1.2em;
	}
	
	.about_us {
		margin-left: -5em;
    	margin-top: -1.2em;
	}
	.fort, .zal, .bunker{
		height: 30em;
    	width: 25em;
	}
	.fort-info, .zal-info, .bunker-info{
    	font-size: 1em;
    	margin: 0.7em;
	}
	.fort-title, .zal-title, .bunker-title{
    font-size: 1.6em;
    margin: 1em auto;
}

}

@media screen and (min-width : 300px) and (max-width : 950px) {
        .topik_menu,
    .active-page {
        visibility: hidden;
 	}
	.burger-menu{
        visibility: visible;
    }
}