/* Тараканівський форт*/
.container{
  display: flex;
  margin: 0em auto;
    width: 70%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: rgba(223, 223, 223, 70%);
}


.fort-info, .zal-info, .bunker-info{
    font-size: 1.5em;
    font-family: 'Montserrat', bold;
    color: black;
    margin: 0.7em;
    /* margin-right: 2em; */
    align-items: center;
    width: 73%;
}

.fort-info, .fort-title{
  opacity: 0;
  transform: translateY(-200px);
  transition: all 1.5s;
}
.fort-info.-active, .fort-title.-active{
  opacity: 1;
  transform: translateY(0px);
}

.info-block{
  display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

}
.fort-title, .zal-title, .bunker-title{
    font-size: 2em;
    font-family: 'Montserrat', bold;
    color: black;
    margin: 1em auto;
    /* margin-right: 2em; */
    align-items: center;
}


.fort-block{
  display: flex;
    width: 90%;
    align-content: center;
    justify-content: space-between;
    margin-top: 4em;
}

.fort{
    height: 40em;
    width: 36em;
    border-radius: 20px;
    
    transform: translateX(-300px);
    transition: all 1.5s;
    opacity: 0;
}

.fort.-active{
  transform: translateX(0px);
  opacity: 1;
}

/* Органний Зал */
.zal-block{
  display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 10em;
}

.zal{
  height: 40em;
    width: 36em;
    /* margin-left: 4em; */
    border-radius: 20px;

}



/* Бункер Еріка Коха */
.bunker-block{
  display: flex;
    width: 90%;
    justify-content: center;
    margin-top: 10em;
    margin-bottom: 4em;
}

.bunker{
  height: 40em;
    width: 36em;
    /* margin-top: 3em; */
    /* margin-left: 10em; */
    border-radius: 20px;

}